ul {
    list-style-type: none;
}

.main_item {
    margin: 150px 15px 15px 25px;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.main_item-block {
    padding: 15px;
}

@media screen and (max-width: 850px) {
    .main_item {
        grid-template-columns: 1fr;
    }
}
