.info {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.info_item {
    padding: 10px;
    border-radius: 25px;
    margin: 10px;
}

@media screen and (max-width: 1000px) {
    .info {
        grid-template-columns: 1fr;
    }
}
