.info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 15px 15px 30px 15px;
}

.info-row {
    display: grid;
    gap: 15px;
}

.info-row-1 {
    grid-template-columns: 3fr 2fr;
}

.info-row-2 {
    grid-template-columns: 1fr 5fr;
}

.info-row-3 {
    grid-template-columns: 4fr 1fr;
}

.info-row_item {
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(87, 167, 115, 0.1);
}

.fb {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fb a {
    transition: opacity 300ms;
}
.fb a:hover {
    opacity: 0.6;
}

h2 {
    margin-top: 0;
}

h3 {
    margin-bottom: 10px;
}

.kontakt {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 700px) {
    .info-row {
        grid-template-columns: 1fr;
    }

    .fb_page {
        right: -14px !important;
    }
}
