.info {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.info_item {
    padding: 10px;
    border-radius: 25px;
    margin: 10px;
}

h2 {
    margin-top: 0;
}

h3 {
    margin-bottom: 10px;
}

.kontakt {
    text-align: right;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .info {
        grid-template-columns: 1fr;
    }

    .kontakt {
        text-align: center;
    }
}
