@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

figcaption {
    line-height: 18px;
    font-size: larger;
}

ul {
    padding-left: 0;
}

.footer li {
    list-style: none;
    transition: opacity 300ms;
}

.footer li:hover {
    opacity: 0.6;
}

.social {
    font-weight: bold;
}

.container {
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.header {
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.logo_img {
    width: 200px;
    object-fit: fill;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 45px;
}

.navbar_item {
    font-weight: 100;
    font-size: 24px;
    text-align: center;
}

.navbar_item {
    display: inline-block;
}

.navbar_item::after {
    content: "";
    width: 0px;
    height: 2px;
    display: block;
    background: #157145;
    transition: 300ms;
}

.navbar_item:hover::after {
    width: 100%;
}

.navbar_item-booking {
    font-size: 24px;
    text-decoration: none !important;
    margin-left: 45px;
    font-weight: bold;
    color: #003580;
    padding: 10px;
    border-radius: 15px;
    transition: background 0.7s, color 0.7s;
}

.navbar_item-booking:hover {
    color: white !important;
    background-color: #003580;
}

.menu-btn {
    height: 48px;
    display: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 300ms;
}

.menu-btn:hover {
    background-color: rgba(87, 167, 115, 0.9);
}

#side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(87, 167, 115, 0.9);
    overflow-x: hidden;
    transition: 300ms;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 26px;
}

#side-nav .close-btn {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 54px;
    margin-left: 50px;
    transition: opacity 300ms;
}

.side-nav_item {
    padding: 0 0 0 25px;
    transition: opacity 300ms;
}

.side-nav_item:hover {
    opacity: 0.6;
}

.hidden {
    display: none;
}

.close-btn:hover {
    opacity: 0.6;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;
}

.creator {
    font-size: 12px;
    padding-bottom: 30px;
}

@media screen and (max-width: 950px) {
    .navbar {
        display: none;
    }

    .menu-btn {
        display: block;
    }
}

@media screen and (max-width: 650px) {
    .footer_links {
        flex-direction: column;
        text-align: center;
    }
}
