:root {
    --main-color: blue;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.hidden {
    display: none;
}

.container {
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

.main {
    background-color: lightcoral;
    flex-grow: 1;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}

.navbar_item {
    font-size: 24px;
    text-align: center;
}
